<nav mat-tab-nav-bar class="navigation">
  <a mat-tab-link routerLink="blog" routerLinkActive #blogrla="routerLinkActive" [active]="blogrla.isActive">
    Blog
  </a>
  <a mat-tab-link routerLink="statistic" routerLinkActive #statisticrla="routerLinkActive" [active]="statisticrla.isActive">
    Statistic
  </a>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
