<button class="add-post-button" mat-raised-button (click)="openPostForm()">Add Post</button>
<div *ngIf="posts">
    <mat-card *ngFor="let post of posts">
        <mat-card-header>
            <mat-card-title>
                <h2>{{post.title}}</h2>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="post.image">
        <mat-card-content>
            {{post.body}}
        </mat-card-content>
        <mat-card-actions align="end">
            <a mat-button [routerLink]="'/post/' + post.id">More...</a>

        </mat-card-actions>
        <mat-card-footer>
            <div class="posts-footer">
                <div class="author">
                    Author:
                    <span class="author-name">{{post.author}}</span>
                </div>
                <div class="created-at">
                    Created:
                    <span class="creation-date">{{post.created_at}}</span>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</div>