<div class="post-details" *ngIf="post">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{post.title}}</h2>
            </mat-card-title>
        </mat-card-header>
        <img matCardImage [src]="post.image">
        <mat-card-content>
            {{post.body}}
        </mat-card-content>
        <mat-card-footer>
            <h4 class="comments-title">Comments:</h4>
            <button *ngIf="post.can_comment" class="add-comment-button" mat-raised-button (click)="openCommentForm()">Add Comment</button>
            <mat-button-toggle [checked]="!post.can_comment" class="hide-comments-button" (change)="hideComments($event.source.checked)">{{post.can_comment ? 'Hide' : 'Show'}} Comments</mat-button-toggle>
            <div *ngIf="post.can_comment" class="comments">

                <mat-card *ngFor="let comment of comments">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>{{comment.author}}</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        {{comment.text}}
                    </mat-card-content>
                    <mat-card-footer>
                        <button class="add-comment-button" mat-raised-button (click)="openCommentForm(comment, true)">Edit Comment</button>
                        <button class="add-comment-button" mat-raised-button [swal]="{ 
                            title: 'Delete comment?',
                            type: 'question',
                            allowOutsideClick: false,
                            confirmButtonClass: 'swal-confirm-button',
                            confirmButtonText: 'Confirm',
                            confirmButtonColor: '#fff',
                            showCancelButton: true,
                            focusCancel: true
                        }" (confirm)="deleteComment(comment)">Delete Comment</button>
                        <button class="add-comment-button" mat-raised-button (click)="openCommentForm(comment, false, true)">Answer</button>
                        <div class="answers">
                            <mat-card *ngFor="let answer of comment.answers">
                                <mat-card-header>
                                    <mat-card-title>
                                        <h4>{{answer.author}}</h4>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    {{answer.text}}
                                </mat-card-content>
                                <mat-card-footer>
                                    <button class="add-comment-button" mat-raised-button (click)="openCommentForm(answer, true, true)">Edit Comment</button>
                                    <button class="add-comment-button" mat-raised-button [swal]="{ 
                                        title: 'Delete comment?',
                                        type: 'question',
                                        allowOutsideClick: false,
                                        confirmButtonClass: 'swal-confirm-button',
                                        confirmButtonText: 'Confirm',
                                        confirmButtonColor: '#fff',
                                        showCancelButton: true,
                                        focusCancel: true
                                    }" (confirm)="deleteComment(answer)">Delete Comment</button>
                                    <button class="add-comment-button" mat-raised-button (click)="openCommentForm(comment, false, true)">Answer</button>
                                </mat-card-footer>
                            </mat-card>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </mat-card-footer>
    </mat-card>
</div>