<div *ngIf="statistic !== undefined">
    <mat-table #table [dataSource]="statistic">
        <ng-container matColumnDef="posts">
            <mat-header-cell *matHeaderCellDef> Posts </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.posts}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.comments}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>