/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    padding: 0;
    margin: 0;
}

.navigation {
    text-align: center;
}

div.content {
    margin: 0 auto 24px auto;
    max-width: 640px;
}

.posts-footer {
    padding: 24px;
    font-size: 12px;
    color: #777;
}

.posts-footer .author,
.posts-footer .created-at {
    width: 50%;
    float: left;
}

.posts-footer .created-at {
    text-align: right;
}

.posts-footer .author-name,
.posts-footer .creation-date {
    font-weight: bold;
}

.comments {
    padding: 24px;
}

.mat-form-field {
    width: 100%
}

.comments-title,
button.add-comment-button,
button.add-comment-button,
.hide-comments-button.mat-button-toggle-checked {
    margin-bottom: 16px;
    margin-left: 24px;
}

.comments mat-card-footer {
    text-align: right
}

.comments mat-card-footer button {
    margin: 16px
}

.comments .answers {
    padding: 5px 5px 5px 24px;
}

.comments .answers .mat-card-content {
    text-align: left
}

button.add-post-button {
    margin: 16px 0;
}

.swal2-modal .swal-confirm-button {
    color: #333 !important
}