<div class="dialog" #dialog>
    <h1 mat-dialog-title>Add Comment</h1>
    <div mat-dialog-content>
        <form [formGroup]="commentForm">
            <mat-form-field>
                <input matInput placeholder="Enter Your Name" formControlName="author">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Enter Comment" formControlName="text"></textarea>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Cancel</button>
        <button mat-button (click)="save(commentForm)" [disabled]="!commentForm.valid">Add</button>
    </div>
</div>