<div class="dialog" #dialog>
    <h1 mat-dialog-title>Add Post</h1>
    <div mat-dialog-content>
        <form [formGroup]="postForm">
            <mat-form-field>
                <input matInput placeholder="Enter Your Name" formControlName="author">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Post Title" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="url" placeholder="Enter Image URL" formControlName="image">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Enter Post Text" formControlName="body"></textarea>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Cancel</button>
        <button mat-button (click)="save(postForm)" [disabled]="!postForm.valid">Add</button>
    </div>
</div>